<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset=UTF-8>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="./home.css">


		<title>mattheusite</title>
		<meta name ="description" content ="Mattheus' personal site.">
		<link rel="icon" href="/pepe_runner.jpg" type="image/jpg">

	</head>

	<body>

		<center>
			<h1>mattheusite</h1>
		</center>


		<hr>

		<pre>
             &&
           &&&&&				
         &&&\/& &&&				+---------------------------------------+
        &&|,/  |/& &&				|					|
		 &&/   /  /_&  &&		| "There's two stages to communism:	|
           \  {  |_____/_&			| One where I'm doing your dad,		|
           {  / /          &&&			| and one where I'm doing your mom."	|
           `, \{___________/_&&			|					|
            } }{       \			|		    ~ Mao Zedong	|
            }{{         \____&			|					|
           {}{           `&\&&			+---------------------------------------+
           {{}             &&			
     , -=-~{ .-^- _
ejm        `}
            {
		</pre>

		<h2>About</h2>
		<p>The site of a weirdly dedicated 14 year old. I'm interested in the arts as well as the sciences, I write screenplays and analyze art through essays and I do Leenux stuff and the occasional programming. </p>
		<p>If I ever make anything as a video, I'll upload on it my YouTube channel (coming soon).¹

		<h2>Contact</h2>
		<p>If you actually want a response, message me via Matrix. And please, for the love of my sanity, do it with an account that <i>isn't</i> on the <b>horrendous</b> <a href="https://matrix.org">matrix.org</a>. 
		<p>Lastly, if you must email me, then include <code>_pickle</code> in the subject.</p>
		<li>email: <code>contact dot b1hb2 at aleeas dot com</code></li>
		<li>matrix: <code>@thepogsupreme:perthchat.org</code></li>
		<li>git: <a href="https://codeberg.org/thepogsupreme">codeberg.org/thepogsupreme</a></li>
		<li>discord, twitter: no. i'm not a degenerate.</li>
		<p>1. I'll create a YouTube channel to distribute my video essays when I get around to asking someone I know for a phone number. Stupid Google verification.</p>

		<h2>Projects</h2>
		<p>Things I'm proud to show off to the general public.</p>

		<li>
			<a href="https://codeberg.org/thepogsupreme/amogu.sh">
				amogu.sh
			</a> 
			- a posix shell image viewer utilizing <a href="https://github.com/junegunn/fzf">fzf</a>, with <a href="https://github.com/seebye/ueberzug">Überzug</a> for previews. Copies your selection to the clipboard.
		</li>

		<li>
			<a href="pothos/index.html">
				neopothos
			</a> - an archive of articles concerning Alexander the Great. Inspired by <a href="https://pothos.org">pothos.org</a>.
		</li>

		<li>
			<a href="blog/index.html">
				blog
			</a> - my thoughts, but what if words though.
		</li>

		<li>
			<a href="imgs/mountain_rice_v2.png">
				rice
			</a> - spent a ludicrous amount of time on it. I think it looks neat.
		</li>

		<hr>

		<p>Created by Mattheus Roxas under <a href="https://eupl.eu">EUPL 1.2</a>.</p>
		<p>Powered by Effort®</p>
	</body>
</html>
